<div class="container">
    <div class="row">
        <div class="col-12" style="margin-top: 20px">
            <mat-card style="margin: 50px 0">
                <div class="search">
                    <mat-form-field style="width: 350px" appearance="outline">
                        <mat-label>Search Category:</mat-label>
                        <input matInput [(ngModel)]="searchText">
                        <mat-icon color="accent" matSuffix>search</mat-icon>
                    </mat-form-field><br>
                </div>
                <div class="row" >
                    <div class="column" *ngFor="let ctg of categories |filter:searchText">
                        <div class="card">
                            <i style="font-size: 1.5vw; color: crimson">{{ctg.nameCategory}}</i>
                            <img class="img" [src]="ctg.avatarCategory">
                        </div>
                    </div>
                </div>
                <mat-paginator [length]="totalElements"
                               [pageSizeOptions]="[3, 6, 9, 90]"
                               aria-label="Select page"
                (page)="nextPage($event)">
                </mat-paginator>

            </mat-card>
        </div>
    </div>
</div>
